MYSQL_DATABASE=spmp
MYSQL_USER=spmp
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
SECRET_KEY=replace-with-at-least-32-random-characters
SPMP_BOOTSTRAP_ADMIN=admin
SPMP_BOOTSTRAP_PASSWORD=ChangeMeImmediately!
