[Unit]
Description=SPMP Elasticsearch {{ es_instance_id }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ es_service_user }}
Group={{ es_service_user }}
WorkingDirectory={{ es_home_path }}
Environment=ES_PATH_CONF={{ es_config_path }}
ExecStart={{ es_home_path }}/bin/elasticsearch
Restart=on-failure
RestartSec=10
LimitNOFILE=65535
LimitNPROC=4096
LimitMEMLOCK=infinity
TimeoutStartSec=180
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
